# dev, prod
APP_ENV=dev
API_IMG_URL=https://jsonplaceholder.typicode.com
API_DEV_URL=https://api.kimbap.io.vn
API_PROD_URL=https://api.kimbap.io.vn
SOCKET_BASE_URL=
SOCKET_DEV_URL=
SOCKET_PROD_URL=
NOTIFICATION_API_URL=http://localhost:3001/api/v1
NOTIFICATION_WS_URL=http://localhost:3001/notifications
DEEP_LINK_HOST=example.com
CURRENCY=VND

SMS_BASE_URL=
SMS_API_KEY=

MAPS_API_KEY=
